
.button{
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 12.80px;
    -fx-background-color:#484856;
    -fx-text-fill: whitesmoke;
}

.window{
    -fx-control-inner-background:#484856; 
    -fx-font-family: 'Lato', sans-serif;
    -fx-font-size: 18px;
    -fx-border-color: #484856;
}

.operands{
    -fx-background-color: tomato;
    -fx-font-size: 18px;
}
#equals{
    -fx-background-color: orange;
    -fx-font-size: 20px;
}
#clear{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}